= link_to "#{activity.owner.first_name.upcase} #{activity.owner.last_name}", account_path(activity.owner)
span  Has remove Friend with you At 
- if activity.trackable.created_at > Time.now.beginning_of_day
  ="#{time_ago_in_words(activity.created_at)} ago"
- else
  = activity.created_at.strftime("%b %d, %Y")
.list-title