html,body{
    height: 100%
}
body, input, textarea, select, option, optgroup, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/*Header*/
header#top {
  background-color: #fff;
  border: 1px solid #e4e4e5;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: -15px;
  width: 100%;
  height: 100%;
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
  height: 100%;
  padding-top: 0px;
}

.navbar-brand>img {
  display: block;
  height: 100%;
  width: 40%;
}

.a-header{
  color: #767676;
  padding-bottom: 0px;
}

/*Footer*/
footer {
  background-color: #eee;
  border-top: 4px solid #ddd;
  color: #777;
  font-size: 14px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
.footer-menu{
  padding-top: 7%;
}

.social_sprite-icon-facebook {
  background-position: -39px -5px;
  height: 24px;
  width: 24px;
}

.social_sprite-icon-twitter {
  background-position: -39px -39px;
  height: 24px;
  width: 24px;
}

.social_sprite-icon-googleplus {
  background-position: -5px -39px;
  height: 24px;
  width: 24px;
}

.social_sprite-icon-blog {
  background-position: -5px -5px;
  height: 24px;
  width: 24px;
}

.social_sprite-icon {
  background-image: url("//d30v2pzvrfyzpo.cloudfront.net/images/social.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin-right: 2px;
}

.visuallyhidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.a-footer-menu{
  color: #767676;
}